<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js" type="text/javascript"></script>
</head>

<body>
<div style="width: 100%;height: 300000px;background-color: aqua" id="app-4">

    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
         style="width: 100%;height: 300000px;position: absolute;top: 0;left: 0">
<!--        绘制直线-->
<!--        <line v-for="l in line" :x1="l.x1+'px'" :y1="l.y1+'px'" :x2="l.x2+'px'" :y2="l.y2+'px'"-->
<!--              style="stroke:rgb(255,0,0);stroke-width:1"/>-->
<!--        绘制折线-->
        <polyline v-for="l in polylines" :points="l.points"
                  style="fill:none;stroke:red;stroke-width:1"/>

    </svg>

    <div v-for="(d,index) in div"
         :style="{'width':d.width+'px', 'height':d.height+'px', 'position':'absolute', 'left':d.left+'px', 'top':d.top+'px', 'background-color':d.background_color, 'display':d.display}">
        {{ index }}
        <img v-if="d.img_src" v-on:click="collapse(index,div)" :src="d.img_src"
             style="width: 20px;height: 20px;background-color: antiquewhite;top: 15px;left: 80px;position: absolute;">
    </div>
</div>


<script>
    /**
     * 隐藏或显示该节点的孩子节点
     * @param node_name
     * @param div
     * @param display none 隐藏 "" 显示
     */
    var delete_children = []
    var delete_divs = {}
    function display_children(node_name, div, display) {
        var queue = []
        if (display != "none"){// 如果是显示孩子结点
            div[node_name].children=delete_children
            for (const deleteDivsKey in delete_divs) {
                div[deleteDivsKey]=delete_divs[deleteDivsKey]
            }
            delete_divs={}
            delete_children=[]
        }

        queue = queue.concat(div[node_name].children)
        if (display === 'none'){// 如果是隐藏孩子结点
            delete_children=div[node_name].children
            div[node_name].children=[]
        }
        while (queue.length !== 0) {
            name = queue.shift()
            div[name].display = display
            if (div[name].img_src === "sub.png")// 只有当前节点是 展开情况 才遍历其子节点
                queue = queue.concat(div[name].children)
            if (display === "none"){// 如果是隐藏结点
                delete_divs[name]=div[name]
                delete div[name]
            }
        }
    }


    /**
     * 重新绘制 方块
     *
     * 遍历树
     *  x: layer * 100 + root.x
     *  y:
     * @param div
     * @param name 节点名称
     * @param last_leaf
     * @param init_top
     * @param init_left
     */
    function repaint_div(div, name, last_leaf, init_top, init_left) {
        // x 轴坐标确定
        div[name].left = div[name].layer * 200 + init_left

        if (!last_leaf && div[name].children.length === 0) {// 如果该节点没有上一个叶子节点 并且 没有孩子节点 此时在 树的最顶端
            div[name].top = init_top
            return name // 返回给调用方新的上个叶子节点
        }
        if (last_leaf != null && div[name].children.length === 0) { // 如果是叶子节点 并且 有上一个叶子节点
            div[name].top = div[last_leaf].top + 50 + 20 // 确定高度=上一个叶子节点高度+50+20
            return name
        }
        if (div[name].children.length !== 0) { // 如果有孩子节点
            let top_value = 0;
            let count = 0
            let new_last_leaf = last_leaf
            for (let i = 0; i < div[name].children.length; i++) {
                let child = div[name].children[i]
                if (div[child].display === "none") { // 如果孩子节点中有隐藏节点 跳过不计算位置
                    continue
                }
                new_last_leaf = repaint_div(div, child, new_last_leaf, init_top, init_left) // 采用
                top_value += div[child].top
                count += 1
            }
            if (count === 0) { // 如果当前节点所有孩子节点均隐藏， 当前节点作为显示中的叶子节点
                div[name].top = div[last_leaf] ? div[last_leaf].top + 50 + 20 : init_top
                return name
            } else {
                div[name].top = top_value / count
                return new_last_leaf
            }
        }
    }

    /**
     * 绘制直线
     * @param lines
     * @param div
     * @param name
     */
    function repaint_line(lines, div, name) {
        if (div[name].children.length === 0) {// 如果没有孩子节点，字节返回
            return
        }
        for (let i = 0; i < div[name].children.length; i++) {
            let child = div[name].children[i]
            if (div[child].display === "none") { // 如果孩子节点是隐藏状态，不画线
                continue
            }
            lines.push({
                "x1": div[name].left + div[name].width,
                "y1": div[name].top + div[name].height / 2,
                "x2": div[child].left,
                "y2": div[child].top + div[child].height / 2
            })
            repaint_line(lines, div, child)
        }
    }

    /**
     * 绘制折线
     * @param polylines
     * @param div
     * @param name
     */
    function repaint_polyline(polylines, div, name) {
        if (div[name].children.length === 0) {// 如果没有孩子节点，字节返回
            return
        }
        for (let i = 0; i < div[name].children.length; i++) {
            let child = div[name].children[i]
            if (div[child].display === "none") { // 如果孩子节点是隐藏状态，不画线
                continue
            }
            const x1 = div[name].left + div[name].width;
            const y1 = div[name].top + div[name].height / 2;
            const x2 = div[child].left;
            const y2 = div[child].top + div[child].height / 2;
            polylines.push({
                points:[[x1,y1],[(x1+x2)/2, y1],[(x1+x2)/2,y2],[x2,y2]].join(" ")
            })
            repaint_polyline(polylines, div, child)
        }
    }

    var app4 = new Vue({
        el: '#app-4',
        methods: {
            /**
             *
             * @param index 那个div执行折叠操作 比如 div0
             * @param div 整个 div 块
             */
            collapse: function (index, div) {
                // 执行折叠操作
                //1、隐藏 或者 显示 该节点的子节点
                let display = div[index].img_src === "sub.png" ? "none" : ""// 如果是 sub.png 点击表示这点子节点，需要隐藏
                display_children(index, div, display)

                //2. 重新计算节点位置
                repaint_div(div, "div0", null, 0, 0)

                //3. 重新绘制折线
                app4.$data['polylines']=[]
                repaint_polyline(app4.$data['polylines'], div, "div0")

                // 4. 图形 减号->加号 加号->减号
                div[index].img_src = div[index].img_src === "sub.png" ? "add.png" : "sub.png"
            }
        },

        data: {
            div: {
                "div0": {
                    // div 宽、高、x、y、背景色
                    width: 100,
                    height: 50,
                    left: "20",
                    top: "240",
                    background_color: "green",

                    //div 孩子节点
                    children: ["div1", "div2", "div3"],

                    //所在层数
                    layer: 0,

                    //是否显示图标 此时是展开状态，右边显示 减号
                    img_src: "sub.png",

                    //是否隐藏
                    display: ""
                },
                "div1": {
                    width: 100,
                    height: 50,
                    left: "220",
                    top: "100",
                    background_color: "red",
                    children: [],
                    layer: 1,
                    //是否展开
                    img_src: false,
                    //是否隐藏
                    display: ""
                },
                "div2": {
                    width: 100,
                    height: 50,
                    left: "220",
                    top: "240",
                    background_color: "blue",
                    children: ["div4", "div5"],
                    layer: 1,
                    //是否展开
                    img_src: "sub.png",
                    //是否隐藏
                    display: ""
                },
                "div3": {
                    width: 100,
                    height: 50,
                    left: "220",
                    top: "380",
                    background_color: "red",
                    children: [],
                    layer: 1,
                    //是否展开
                    img_src: false,
                    //是否隐藏
                    display: ""
                },
                "div4": {
                    width: 100,
                    height: 50,
                    left: "420",
                    top: "170",
                    background_color: "red",
                    children: [],
                    layer: 2,
                    //是否展开
                    img_src: false,
                    //是否隐藏
                    display: ""
                },
                "div5": {
                    width: 100,
                    height: 50,
                    left: "420",
                    top: "310",
                    background_color: "red",
                    children: [],
                    layer: 2,
                    //是否展开
                    img_src: false,
                    //是否隐藏
                    display: ""
                }
            },
            line: [
                {
                    "x1": "120",
                    "y1": "265",
                    "x2": "220",
                    "y2": "125"
                }, {
                    "x1": "120",
                    "y1": "265",
                    "x2": "220",
                    "y2": "265"
                }, {
                    "x1": "120",
                    "y1": "265",
                    "x2": "220",
                    "y2": "405"
                }, {
                    "x1": "320",
                    "y1": "265",
                    "x2": "420",
                    "y2": "195"
                }, {
                    "x1": "320",
                    "y1": "265",
                    "x2": "420",
                    "y2": "335"
                }
            ],
            polylines:[
                {
                    points:""
                }
            ]
        }
    })


    function generate_fake_data(div) {
        // "div5": {
        //     width: 100,
        //         height: 50,
        //         left: "420",
        //         top: "310",
        //         background_color: "red",
        //         children: [],
        //         layer: 2,
        //         //是否展开
        //         img_src: false,
        //         //是否隐藏
        //         display: ""
        // }
        total_layer = 7
        for (var layer=1;layer<=total_layer;layer++){//
            var start = (Math.pow(5, layer-1)-1)/4
            var end = (Math.pow(5, layer)-1)/4 -1
            for (var num=start; num<=end;num ++){
                div["div"+num]={
                    width:100,
                    height:50,
                    left:0,
                    top:0,
                    background_color:'red',
                    children:[],
                    layer:layer-1,
                    img_src:false,
                    display:''
                }
                if (layer < total_layer){// 如果不为叶子节点，需要 设置 children 设置 img_src 为展开图标
                    for (var child=num*5+1;child<=num*5+5;child++){
                        div["div"+num].children.push("div"+child)
                        div["div"+num].img_src="sub.png"
                    }
                }
            }
        }
    }

    /**
     * 初始化 界面
     */
    function init() {
        // 模拟数据生成
        app4.$data['div']={}
        generate_fake_data(app4.$data['div'])
        //重新计算节点位置
        repaint_div(app4.$data['div'], "div0", null, 0, 0)
        //重新绘制线条 使用折线
        app4.$data['polylines']=[]
        repaint_polyline(app4.$data['polylines'], app4.$data['div'], "div0")
    }

    init()

</script>
</body>
</html>